# PostgreSQL Settings
POSTGRES_USER=n8n_user
POSTGRES_PASSWORD=n8n_password
POSTGRES_DB=telegram_ai_db

# n8n Login Credentials
N8N_USER=admin
N8N_PASSWORD=12!

# Public Tunnel URL (Updated whenever Cloudflare tunnel is restarted)
WEBHOOK_URL=https://your-cloudflare-tunnel-subdomain.trycloudflare.com/

# Telegram Bot API Credentials
TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ
TELEGRAM_SECRET_TOKEN=my_secure_telegram_secret_token_2026

# Google AI Studio API Settings
GEMINI_API_KEY=my_key
GEMINI_MODEL=gemini-model
ENABLE_AI_ASSISTANT=true

# Odoo CRM Credentials
ODOO_URL=http://localhost:8069
ODOO_DB=odoo_db
ODOO_USERNAME=odoo_username
ODOO_PASSWORD=odoo_pass












# https://api.telegram.org/bot8171082982:AAF7H4hQadyhp0wiLwFLKVupMBKRmcplLjw/setWebhook?url=https://molecules-sleeve-pharmacology-stockings.trycloudflare.com/webhook/telegram&secret_token=my_secure_telegram_secret_token_20204010

# cloudflared tunnel --url http://localhost:5678
# npx localtunnel --port 5678
